<div>

    {{!-- <h1>view blogs</h1> --}}
    {{#each blogs as |blog| }}
    <div class="columns is-mobile">
       <div class="card column is-three-fifths is-offset-one-fifth">
          <header class="card-header">
            <p class="card-header-title">{{blog.title}}</p>
            <p class="subtitle is-6">Posted by: {{user_id}} on {{format_date create_date}}</p>
          </header>

            <div class="card-content">
              <p>{{blog.content}}</p>
            </div>
            

             <div class="card-content">
               <h3><strong>Comment</strong></h3>
               <p>{{text_comment}}</p>
            </div>

          <div class="buttons" >
                <button   type="submit" id="addCommentButton" class="button is-primary ">Add New Comment</button>
          </div>
          
       </div>
    </div>         
    {{/each}}
</div>
 <script src="/js/addCommentBtn.js"></script>